---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
  author: string;
  image?: {
    url: string;
    alt: string;
  };
  tags?: string[];
}

interface MarkdownPost {
  url: string;
  frontmatter: Frontmatter;
}

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true })) as MarkdownPost[];
console.log('allPosts', JSON.stringify(allPosts, null, 2));
---

<BaseLayout pageTitle="Blog">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map((post: MarkdownPost) => 
          <BlogPost 
            url={post.url} 
            title={post.frontmatter.title} 
          />
        )
      }
    </ul>
</BaseLayout>